/* Base Elements, Rhythm (spacing), and Sizing */
html.dark-mode body {
    color: var(--color-text-dark-mode);
}

.page-content {
    font-size: var(--text-base);
    line-height: var(--line-height-base);
}

/* Document Rhythm: Paragraphs and Lists */
.page-content p,
.page-content ul,
.page-content ol,
.page-content div.callout {
    max-width: var(--max-width-content);
    margin-block: 0;
    margin-bottom: var(--space-p-gap);
}

/* Headings */
.page-content h1.page-title {
    font-size: var(--text-h1--title);
    margin-bottom: var(--space-xxxl);
}

/* Not sure about sizing: Make h1, h2 same? */
.page-content h1 {
    font-size: var(--text-h1);
    margin-bottom: var(--space-xxxl);
}

.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5 {
    margin-top: var(--space-heading-top);
    margin-bottom: var(--space-heading-bottom);
}

.page-content h2 {
    font-size: var(--text-h2);
    margin-top: var(--space-giant);
    border-bottom: 1px solid var(--border-normal);
    padding-bottom: var(--space-xs);
}

.page-content h3 {
    font-size: var(--text-h3);
}
.page-content h4 {
    font-size: var(--text-h4);
}
.page-content h5 {
    font-size: var(--text-h5);
    font-weight: bold;
}

/* Blockquotes */
.page-content blockquote:before {
    content: "";
}

.page-content blockquote p:last-child {
    margin-bottom: var(--space-blockquote-p);
}

/* List Item Specifics */
.page-content ul,
.page-content ol {
    padding-left: var(--space-xxxl);
}

.page-content li ul,
.page-content li ol {
    margin-bottom: var(--space-xs);
    margin-top: var(--space-xs);
}

.page-content li p {
    margin-bottom: var(--space-xs);
}

.page-content li > ul,
.page-content li > ol {
    margin-top: var(--space-xs);
    margin-bottom: var(--space-xs);
}

.page-content li {
    margin-bottom: var(--space-s);
}

.page-content li > * + * {
    margin-top: var(--space-xs);
}

/* Nested List Logic */
.page-content ol ol {
    list-style-type: lower-alpha;
}

.page-content ol ol ol {
    list-style-type: lower-roman;
}
