/*  ====================================================

    Set content flow/vertical rhythm
    inside .page-content
    ==================================================== */

html.dark-mode body {
    color: var(--color-text-dark-mode);
}

/* .page-content font and line height */
.page-content {
    font-size: var(--text-body);
    line-height: var(--line-height-base);
}

/* Primitives: paragraphs and lists (simple, frequently used block-level elements) */
.page-content p,
.page-content ul,
.page-content ol,
.page-content div.callout {
    max-width: var(--max-width-content);
    margin-block: 0;
    margin-bottom: var(--space-p-gap);
}

/* Headings */

/* BookStack page title - note ID selector */
.page-content h1#bkmrk-page-title {
    font-size: var(--text-page-title);
    margin-bottom: var(--space-xxxl);
}

/* Content primary heading */
.page-content h1 {
    font-size: var(--text-heading-primary);
    margin-bottom: var(--space-xxxl);
}

.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5 {
    margin-top: var(--space-heading-top);
    margin-bottom: var(--space-heading-bottom);
}

.page-content h2 {
    font-size: var(--text-heading-secondary);
    margin-top: var(--space-giant);
    border-bottom: 1px solid var(--border-normal);
    padding-bottom: var(--space-xs);
}

.page-content h3 {
    font-size: var(--text-heading-tertiary);
}
.page-content h4 {
    font-size: var(--text-heading-quaternary);
}
.page-content h5 {
    font-size: var(--text-heading-quinary);
    font-weight: bold;
}

/* Blockquotes */

/* Hide decoration if present */
.page-content blockquote:before {
    content: "";
}

.page-content blockquote p:last-child {
    margin-bottom: var(--space-blockquote-p);
}

/* Lists */
.page-content ul,
.page-content ol {
    padding-left: var(--space-xxxl);
}

/* Fix inconsistent nested list spacing */
.page-content li ul,
.page-content li ol,
.page-content li > ul,
.page-content li > ol {
    margin-bottom: var(--space-xs);
    margin-top: var(--space-xs);
}

.page-content li {
    margin-bottom: var(--space-s);
}

.page-content li p {
    margin-bottom: var(--space-xs);
}

/* General rule to fix unanticipated nested elements */
.page-content li > * + * {
    margin-top: var(--space-xs);
}

/* Second-order nested OLs use alpha */
.page-content ol ol {
    list-style-type: lower-alpha;
}

/* Third-order nested OLs use roman */
.page-content ol ol ol {
    list-style-type: lower-roman;
}
