/*  ====================================================
    Components
    ==================================================== */

/* Definition Lists */
.page-content dl {
    max-width: var(--max-width-content);
    margin-bottom: var(--space-p-gap);
}

/* Render multiple DTs inline */
.page-content dt {
    display: inline;
    font-weight: bold;
    font-size: var(--text-body);
}

/* Differentiate multiple inline DTs */
.page-content dt + dt::before {
    content: ", ";
    font-weight: normal;
}

.page-content dd {
    display: block;
    margin-top: var(--space-s);
    margin-left: 0;
    padding-left: var(--space-l);
    border-left: 3px solid var(--border-normal);
    font-size: var(--text-small);

    line-height: var(--line-height-base);
}

.page-content dd + dd {
    margin-top: var(--space-xs);
    margin-bottom: 0;
}

/* Space out DIV > DT + DL groups */
/* TODO: Evaluate - Too much space? */
.page-content dl > div {
    margin-bottom: var(--space-giant);
}

.page-content dd:not(:has(+ dd)) {
    margin-bottom: var(--space-giant);
}

/* Tables */
.page-content .table-container {
    display: block;
    width: 100%;
    margin: var(--space-giant) 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.page-content table {
    width: 100%;
    min-width: 47rem;
    border-collapse: collapse;
    table-layout: auto;
}

.page-content caption {
    font-weight: bold;
    padding: var(--space-l) var(--space-none);
    text-align: left;
    font-size: var(--text-heading-quaternary);
}

.page-content th,
.page-content td {
    padding: var(--space-l);
    font-size: var(--text-small);
    text-align: left;
    white-space: normal;
    word-break: keep-all;
    overflow-wrap: break-word;
    min-width: 14ch;
    border: none;
}

.page-content thead th {
    background-color: var(--border-normal);
    border-bottom: 2px solid var(--border-medium);
    font-weight: bold;
}

.page-content tbody td {
    border-bottom: 1px solid var(--border-normal);
}

.page-content tbody tr:hover {
    background-color: var(--bg-hover);
}

.page-content tfoot td {
    padding: var(--space-xl) var(--space-l);
    color: var(--border-bold);
    border-top: 2px solid var(--border-medium);
    word-break: normal;
}

/* Keyboard element, <KBD> */
.page-content kbd {
    display: inline-block;
    padding: var(--space-m) var(--space-l);
    min-width: 1rem;
    text-align: center;
    font-family: var(--font-code);
    font-size: var(--text-small);
    line-height: 1;
    color: inherit;
    background-color: var(--bg-soft);
    border: 1px solid var(--border-bold);
    border-radius: var(--space-xs);
    box-shadow: 0 var(--space-xs) 0 var(--border-medium);
    white-space: nowrap;
    margin: 0 var(--space-xs);
    vertical-align: baseline;
}
