.page-content[class].page-content
    *:not(
        pre,
        pre *,
        code,
        code *,
        .hljs,
        .hljs *,
        dl,
        dl *,
        dt,
        dd,
        .cm-editor,
        .cm-editor *,
        .callout,
        .callout *
    ) {
    all: revert;
    box-sizing: border-box;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content p,
.page-content blockquote {
    display: block;
}
